= form_for @<%= resource_name %>, url: sessions_path do |form|
  - if warden_message
    .alert
      = warden_message

  %p
    = form.label :email
    %br/
    = form.text_field :email
  %p
    = form.label :password
    %br/
    = form.password_field :password
  %p.button
    = form.submit t('.log_in')
